#div1{
	width:100%;
	background-color:red;
	height: 50px;
	position:fixed;
}

#div2{
	background-color:green;
	width: 50%;
	height: 200px;
}

#div3{
	background-color:yellow;
	width: 50%;
	height: 2000px;
}

/* comment on style sheet */
#wrapper
{
width:900px;
height:600px;
background:#333;
color:white;
}

#rel
{
width:100px;
height:100px;
background:purple;
position:relative;
top:200px;
left:800px;
}

#norm
{
width:100px;
height:100px;
background:green;
}

div.relative {
    width: 400px;
    height: 200px;
    float:right;
	background:blue;
} 

div.absolute {
    width: 200px;
    height: 100px;
    background:orange;
	float: left;
}

#norm4{
	width: 100px;
    height: 100px;
    float:right;
	background:purple;
	
}

#norm5{
	width: 100px;
    height: 100px;
    float:left;
	background:green;
